@import url('https://fonts.googleapis.com/css?family=Ubuntu+Mono:700|Varela+Round&display=swap');
body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
}

#splash-screen{
    display:flex;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


#menu {
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#options
{
    bottom: 60%;
    left: 25%;
    position: absolute;
    width: 100%;
}

.main-menu{
    color: red!important;
}

.restart {
    color: red!important;
}


a {
    border: 1px solid white;
    border-radius: 10px;
    padding: 10px 50px;
    margin: 40px;

    text-decoration: none;

    font-family: 'Varela Round', sans-serif;
    font-size: 3em;
}

.vs {
    padding: 10px 90px;
}
p {
    text-align: center;
    color: red;
    font-size: 3em;
}

#controls{
    width: 100vh;
}

#controls h1{
    font-size: 3em;
    color: #fff;
    text-align: center;
}

#controls p{
    font-size: 1.5em;
    color: #fff;
}

#controls .go-back{
    display: flex;
    justify-content:center;
}

video {
    margin-left: 80px;
    box-sizing: border-box;
    height: 100vh;   
}

@media(max-width:756px){
    video{
        display: none;
    }
}

.glow {
    font-size: 60px;
    color: #fff;
    text-align: center;
    font-family:'Varela Round', sans-serif;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
@-webkit-keyframes glow {
from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #9F1FD6, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
}
to {
    text-shadow: 0 0 20px #fff, 0 0 30px #9F1FD6, 0 0 40px #9F1FD6, 0 0 50px #9F1FD6, 0 0 60px #ff4da6, 0 0 70px #9F1FD6, 0 0 80px #9F1FD6;
}
}

